ul li {
  list-style-type: none;
  margin: 10px;
  height: 50px;
  line-height: 50px;
}

ul {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(241, 241, 238);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
  transition: 0.3s;

}

h1 {
  text-align: center;
}

.App-list {
  display: flex;
  justify-content: space-around;

}

.georgia-list {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  justify-content: center;
}

.georgia-list div {
  padding: 10px;

}

.list {
  margin: 10px;
}

.color {
  color: rebeccapurple;
}

.btn {
  border: 2px solid transparent;
  background: #ff8282;
  opacity: 90%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  outline: none;
}

.btn:hover {
  border: 2px solid #ff8282;
  background: transparent;
  transition: 0.3s;
  color: #ff8282;
  cursor: pointer;
}

.grid-modal {
  margin-top: 30px;
  margin-bottom: 10px;

}

.grid-modal:hover {}

.heading {
  font-size: 20px;
  text-align: left;
}

.MuiCard-root:hover {
  background-color: rgb(220, 216, 238);
  transition: 0.3s;
}

/* import React, { useState, useEffect } from 'react';
import Covid19Service from './data';

const SumInfo = () => {

    const cv19Service = new Covid19Service();

    const [newConfirmed, setNewConfirmed] = useState(null);
    const [totalConfirmed, setTotalConfirmed] = useState(null);
    const [newDeaths, setNewDeaths] = useState(null);
    const [totalDeaths, setTotalDeaths] = useState(null);
    const [newRecovered, setNewRecovered] = useState(null);
    const [totalRecovered, setTotalRecovered] = useState(null);
    const [loading, setLoading] = useState(true);

    useEffect(() => {
        cv19Service.getSummary()
            .then((data) => {
                setNewConfirmed(data['Global']['NewConfirmed']);
                setTotalConfirmed(data['Global']['TotalConfirmed']);
                setNewDeaths(data['Global']['NewDeaths']);
                setTotalDeaths(data['Global']['TotalDeaths']);
                setNewRecovered(data['Global']['NewRecovered']);
                setTotalRecovered(data['Global']['TotalRecovered'])
                setLoading(false);
            });
    }, []);

    const content = !loading ?  <SumView   
                                    newConfirmed={newConfirmed}
                                    totalConfirmed={totalConfirmed}
                                    newDeaths={newDeaths}
                                    totalDeaths={totalDeaths}
                                    newRecovered={newRecovered}
                                    totalRecovered={totalRecovered}
                                /> : null;

    return (
        <div className="info jumbotron rounded">
            {content}
        </div>
    );
}

const SumView = ({newConfirmed, totalConfirmed, newDeaths, 
                totalDeaths, newRecovered, totalRecovered}) => {
    return (
        <React.Fragment>
            <h3>Summary Statistics</h3>
            <ul className="">
                <li className="">
                    <span >New Confirmed:</span>
                    <span>{newConfirmed}</span>
                </li>
                <li className="">
                    <span >Total Confirmed:</span>
                    <span>{totalConfirmed}</span>
                </li>
                <li className="">
                    <span >New Deaths:</span>
                    <span>{newDeaths}</span>
                </li>
                <li className="">
                    <span >Total Deaths:</span>
                    <span>{totalDeaths}</span>
                </li>
                <li className="">
                    <span >New Recovered:</span>
                    <span>{newRecovered}</span>
                </li>
                <li className="">
                    <span >Total Recovered:</span>
                    <span>{totalRecovered}</span>
                </li>
            </ul>
        </React.Fragment>
        
    );
}

export default SumInfo; */